body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(./Pictures/pineapple.jpg);
  background-size: cover;
  height: 200vh;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-feature-settings: "blwm";
  color: white;
}
form {
  border: 40px;
  background-color: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid coral;
  padding: 14px 10px;
  width: 220px;
  color: rgb(5, 5, 5);
  font-family: sans-serif;
  font-size: large;
  border-radius: 24px;
  transition: 0.25px;
}

.nav {
}
a[href="GetAllEmployees.html"] {
  display: block;
  text-align: center;
  font-weight: bolder;
}
