h1{
      text-shadow: 2px 2px 0px coral;
      text-align-last: center;
      background-color: rgb(17, 6, 1);
      padding-inline: 5px 10px 5px ;
      margin: 250px;
      font-size:64px;
      font-weight: 400;
      color: #885df1;}
    h2 {
      text-align: center;
      font-size: 36px;
      font-weight:300;
      background-color: rgb(17, 6, 1);
      padding: content: '\f41c';
      color: #2b61df;}  
    h3 {
      text-align: center;
      font-size: 24px;
      font-weight: thin;
      color: rgb(180, 27, 129);}
      
      .reimbursements{
          border-color: aliceblue;
      }
      
     .lodging{
        color:blue;              
     }

    .travel {
       color: red;
     }

    .food{
         color: green;
     }
     body {
        background-image:url(https://imgs.search.brave.com/L_8E_FoD2EYyFUfUaVbef5dFGN4y8hu6WhjmJzL4boo/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvMTQ2/NjU5Mi5qcGc);
        background-size:cover;}
        
        #subscribe, 
login{
	position: content;
    align-type: center;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid ##e8630a;
	box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	border-radius: 5px;
}
login{
	z-index: 22;
}